/**
 * HEADER SECTION
 */
body {
    font-family: 'Roboto', sans-serif;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.title {
    font-size: 2em;
}

.title strong {
    color: #ecf0f1;
    font-family: 'Lobster', cursive;
}

.title sub {
    font-size: 0.5em;
}

.title sub a {
    color: #ecf0f1;
}

.title sub a:hover {
    color: white;
}

.db-name {
    color: #ecf0f1;
    font-size: 1.6em;
}

.db-name sup button {
    background-color: #2c3e50;
    border: 0;
    color: #ecf0f1;
    font-size: 0.7em;
    outline: none;
}

.db-name sup button:hover {
    color: white;
    text-decoration: none;
}

.menu {
    font-size: 1.1em;
}

.menu ul {
    margin-bottom: 0;
    margin-left: 0;
}

.menu li button {
    background-color: #2c3e50;
    border: 1px solid #2c3e50;
    border-radius: 50%;
    color: #ecf0f1;
    outline: none;
    padding: 8px;
    text-decoration: none;
    top: 0;
    transition: 0.3s;
    vertical-align: middle;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.menu li:last-child button {
    margin-right: -8px;
}

.menu li button:hover {
    background-color: white;
    border: 1px solid white;
    color: #2c3e50;
    transition: 0.3s;
}

header, aside {
    background-color: #2c3e50;
    color: white;
}

.title, .menu, .db-name {
    line-height: 40px;
}

.table-wrapper {
    position: relative;
}

.db-table {
    z-index: 1000;
    max-width: 220px;
    min-width: 180px;
    background-color: azure;
    -webkit-box-shadow: inset -2px -2px 6px 0px rgba(17,61,59,0.75), 0px -2px 1px 0px rgba(17,61,59,0.75);
    -moz-box-shadow: inset -2px -2px 6px 0px rgba(17,61,59,0.75), 0px -2px 1px 0px rgba(17,61,59,0.75);
    box-shadow: inset -2px -2px 6px 0px rgba(17,61,59,0.75), 0px -2px 1px 0px rgba(17,61,59,0.75);
}

.table-header {
    padding: 10px;
    background-color: #00897B;
    color: white;
}

.table-header h4 {
    margin: 0;
}

.table-header span {
    margin: 0 5px;
    cursor: pointer;
}

.db-columns {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

.db-columns li {
    border-bottom: 1px solid gray;
    padding: 10px;
}

.db-columns li:last-child {
    border-bottom: 0;
}

.db-columns .pull-left span {
    margin: 0 5px;
    font-style: italic;
}

.db-columns .pull-right span {
    margin: 0 5px;
    cursor: pointer;
}

sup {
    margin-left: 1px;
    font-style: italic;
}

/* jsPlumb */
.draggable {
    position: absolute;
}

.jtk-dragged {
    cursor: move;
    z-index: 9999;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
