.db-table {
    max-width: 250px;
    -webkit-box-shadow: inset -2px -2px 5px 0px rgba(17,61,59,0.75);
    -moz-box-shadow: inset -2px -2px 5px 0px rgba(17,61,59,0.75);
    box-shadow: inset -2px -2px 5px 0px rgba(17,61,59,0.75);
}

.table-header {
    padding: 10px;
    background-color: #00897B;
    color: white;
}

.table-header h4 {
    margin: 0;
}

.table-header span {
    margin: 0 5px;
    cursor: pointer;
}

.db-columns {
    padding: 0;
    list-style: none;
}

.db-columns li {
    border-bottom: 1px solid gray;
    padding: 10px;
}

.db-columns li:last-child {
    border-bottom: 0;
}

.db-columns .pull-left span {
    margin: 0 5px;
    font-style: italic;
}

.db-columns .pull-right span {
    margin: 0 5px;
    cursor: pointer;
}
